.features{
    .items {
      display: flex;
      grid-gap: 30px;

  .item { flex: 0 1 50%;
    
    &:nth-child(1){
.card {
    height: 100%;
    display: flex;
   flex-direction: column;
   .caption {
    flex: 1;
   }
}
}
&:nth-child(2){
display: flex;
flex-direction: column;
grid-gap: 30px;

.card {
    display: flex;
}

} 
 }    
 }
  }